*
    img.my-picture {
        display: block;
        margin: 0px;
        height: 200px;
        width: auto;
        border: 2px solid white;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
    }

    body {
        margin: 0;
        background: #F8F7EF;
    }

    .h1 {
        font-family: "Noticia Text"
    }
    .ul {
        font-family: "Open Sans"
    }

    /* .p2 {
        font-family: "Open Sans";
        text-align: left;
    } */


    .container .cv_describe {
        display: None; /*block*/
        margin-top: 20px;
        position: relative;
        width: 1100px;
        text-align: left;
    }

    .container .projects_grid{
        position: relative;
        display: inline-grid; /*inline-grid*/
        grid-template-columns: 150px auto 100px;
        width: 1100px;
        column-gap: 20px;
        row-gap: 20px;
        text-align: left;
    }


    .button {
        background-color: #9A9A9A;
        border: white;
        -webkit-border-radius: 12px;
        color: white;
        padding: 20px 75px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 20px;
        margin: 4px 2px;
        cursor: pointer;
    }

    .toggle {
        --width: 350px;
        --height: calc(var(--width)/5);
        background-color: #b3b3cc;
        position: relative;
        display: inline-block;
        width: var(--width);
        height: var(--height);
        box-shadow: 0px 1px 3px rgba(0,0,0,0.3);
        border-radius: var(--height);
        cursor: pointer;
    }

    .toggle input{
        display: none;
    }

    .toggle .slider {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: var(--height);
        background color: #c2c2d6;
        transition: all 0.5s ease-in-out;
    }

    /* This is the circle button for the toggle */
    .toggle .slider::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: calc(var(--height));
        height: calc(var(--height));
        border-radius: calc(var(--height)/2);
        background-color: #666699;
        box-shadow: 0px 1px 3px rgba(0,0,0,0.3);
        transition: all 0.4s ease-in-out;
    }

    .toggle input:checked + .slider{
        background-color: #33334d;
    }

    .toggle input:checked + .slider::before{
        transform: translateX(calc(var(--width) - var(--height)));
    }

    .toggle .labels {
        position: absolute;
        top: 8px;
        left: 5px;
        width: 100%;
        height: 100%;
        font-size: 50px;
        font-family: sans-serif;
        transition: all 0.4s ease-in-out;
    }

    .toggle .labels::after {
        content: attr(data-off);
        position: absolute;
        right: 20px;
        color: #4d4d4d;
        opacity: 1;
        text-shadow: 1px 1px 2px rgba(0,0,0,0.8);
        transition: all 0.4s ease-in-out;
    }

    .toggle .labels::before{
        content: attr(data-on);
        position: absolute;
        left: 5px;
        color: #ffffff;
        opacity: 0;
        text-shadow: 1px 1px 2px rgba(255,255,255,0.4);
        transition: all 0.4s ease-in-out;
    }

    .toggle input:checked~.labels::after{
        opacity: 0;
    }

    .toggle input:checked~.labels::before{
        opacity: 1;
    }
